/*.logo{
    width: 150px;
    height: 100px;
    margin-top: 25px;
}

header{
    background: hsl(358, 85%, 52%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    background: #FBCA03;
    display: inline-block;
    width: 1000px;
   
    
}

nav ul li{
    display: inline;
    margin-left: 66px;
}*/


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-right: 300px;
  background-color: hsl(358, 85%, 52%) ;
}

.logo{
  height: 60px;  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background: #FBCA03;
  border-radius: 20px;
}

nav ul li {
  display: inline;
  margin-left: 25px; 
}


nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}