/*.logo{
    width: 150px;
    height: 100px;
    margin-top: 25px;
}

header{
    background: hsl(358, 85%, 52%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    background: #FBCA03;
    display: inline-block;
    width: 1000px;
   
    
}

nav ul li{
    display: inline;
    margin-left: 66px;
}*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
}

.logo{
  height: 40px;  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: red
}

nav ul li {
  display: inline;
  margin-left: 25px; 
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: #555;
}

.seccion1{
  background-color: #AA0505;
  height:300px;
}

.texto1{
  color: white;
  text-align: center;
  margin-right: 1000px;
  margin-top: 7px;
  background-color: #67C7EB;
  width: 500px;
  height: 250px;
  margin-left:25px;
  
}

/*.ironman1{
  width: 100px;
  height: 100px;
  align-items: center;
}*/